In [65]:
pip install prophet

Requirement already satisfied: prophet in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (1.1.6)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: cmdstanpy>=1.0.4 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (1.2.5)
Requirement already satisfied: numpy>=1.15.4 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (1.26.4)
Requirement already satisfied: matplotlib>=2.0.0 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (3.10.0)
Requirement already satisfied: pandas>=1.0.4 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (2.2.2)
Requirement already satisfied: holidays<1,>=0.25 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (0.66)
Requirement already satisfied: tqdm>=4.36.1 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (4.66.4)
Requirement already satisfied: importlib-resources in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from prophet) (6.5.2)
Requirement already satisfied: stanio<2.0.0,>=0.4.0 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from cmdstanpy>=1.0.4->prophet) (0.5.1)
Requirement already satisfied: python-dateutil in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from holidays<1,>=0.25->prophet) (2.9.0.post0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from matplotlib>=2.0.0->prophet) (3.0.9)
Requirement already satisfied: pytz>=2020.1 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from pandas>=1.0.4->prophet) (2023.3)
Requirement already satisfied: colorama in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from tqdm>=4.36.1->prophet) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\chris.mutuku\appdata\local\anaconda3\lib\site-packages (from python-dateutil->holidays<1,>=0.25->prophet) (1.16.0)

In [66]:
import pandas as pd

# File paths
file_path1 = r"C:\Users\chris.mutuku\OneDrive - Skanem AS\Desktop\CAPSTONE PROJECT\Capstone-Project---Group-8\Data\Climate Change - datasets\all countries global temperature.csv"
file_path2 = r"C:\Users\chris.mutuku\OneDrive - Skanem AS\Desktop\CAPSTONE PROJECT\Capstone-Project---Group-8\Data\Climate Change - datasets\Average Surface Temperature.csv"

In [ ]:
# Display the first few rows of each dataframe
print("Data from 'all countries global temperature.csv':")
print(df1.head())

print("\nData from 'Average Surface Temperature.csv':")
print(df2.head())

Data from 'all countries global temperature.csv':
   ObjectId                  Country Name            Unit  \
0         1  Afghanistan, Islamic Rep. of  Degree Celsius
1         2                       Albania  Degree Celsius
2         3                       Algeria  Degree Celsius
3         4                American Samoa  Degree Celsius
4         5      Andorra, Principality of  Degree Celsius

                      Change    1970   1971   1972   1973   1974   1975  ...  \
0  Surface Temperature Change  0.898  0.652 -1.089  0.262 -0.470 -0.468  ...
1  Surface Temperature Change -0.119 -0.200 -0.077 -0.299 -0.134 -0.203  ...
2  Surface Temperature Change  0.114 -0.380 -0.342 -0.028 -0.502 -0.554  ...
3  Surface Temperature Change -0.036 -0.473 -0.070  0.322 -0.317 -0.128  ...
4  Surface Temperature Change  0.081 -0.355 -0.526 -0.010 -0.412  0.207  ...

    2012   2013   2014   2015   2016   2017   2018   2019   2020   2021
0  0.234  1.308  0.457  1.101  1.607  1.568  1.580  0.960  0.544  1.421
1  1.568  1.444  1.322  1.665  1.601  1.269  2.146  1.823  1.623  1.682
2  1.128  1.173  1.676  1.101  1.736  1.498  1.211  1.094  1.913  2.317
3  0.646  0.883  0.554  0.394  0.924  0.820  0.574  0.924  0.815  0.653
4  1.196  0.757  1.857  1.546  1.830  1.771  1.761  1.813  2.401  1.367

[5 rows x 56 columns]

Data from 'Average Surface Temperature.csv':
        Entity Code  year        Day  Average surface temperature  \
0  Afghanistan  AFG  1940  1/15/1940                    -2.032494
1  Afghanistan  AFG  1940  2/15/1940                    -0.733503
2  Afghanistan  AFG  1940  3/15/1940                     1.999134
3  Afghanistan  AFG  1940  4/15/1940                    10.199754
4  Afghanistan  AFG  1940  5/15/1940                    17.942135

   Average surface temperature.1
0                      11.327695
1                      11.327695
2                      11.327695
3                      11.327695
4                      11.327695

In [ ]:
df1 = pd.read_csv(file_path1, sep=';', encoding='latin1')

### Inspecting the dataset

In [ ]:
# Display basic information about the datasets
print("Dataset 1 Info:")
print(df1.info())
print("\nDataset 2 Info:")
print(df2.info())

# Display the first few rows of each dataset
print("\nDataset 1 Head:")
print(df1.head())
print("\nDataset 2 Head:")
print(df2.head())

# Check for missing values
print("\nMissing values in Dataset 1:")
print(df1.isnull().sum())
print("\nMissing values in Dataset 2:")
print(df2.isnull().sum())

Dataset 1 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                     --------------  -----
 0   ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021  227 non-null    object
dtypes: object(1)
memory usage: 1.9+ KB
None

Dataset 2 Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199290 entries, 0 to 199289
Data columns (total 6 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Entity                         199290 non-null  object
 1   Code                           199290 non-null  object
 2   year                           199290 non-null  int64
 3   Day                            199290 non-null  object
 4   Average surface temperature    199290 non-null  float64
 5   Average surface temperature.1  199290 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 9.1+ MB
None

Dataset 1 Head:
  ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0  1,"Afghanistan, Islamic Rep. of",Degree Celsiu...
1  2,Albania,Degree Celsius,Surface Temperature C...
2  3,Algeria,Degree Celsius,Surface Temperature C...
3  4,American Samoa,Degree Celsius,Surface Temper...
4  5,"Andorra, Principality of",Degree Celsius,Su...

Dataset 2 Head:
        Entity Code  year        Day  Average surface temperature  \
0  Afghanistan  AFG  1940  1/15/1940                    -2.032494
1  Afghanistan  AFG  1940  2/15/1940                    -0.733503
2  Afghanistan  AFG  1940  3/15/1940                     1.999134
3  Afghanistan  AFG  1940  4/15/1940                    10.199754
4  Afghanistan  AFG  1940  5/15/1940                    17.942135

   Average surface temperature.1
0                      11.327695
1                      11.327695
2                      11.327695
3                      11.327695
4                      11.327695

Missing values in Dataset 1:
ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021    0
dtype: int64

Missing values in Dataset 2:
Entity                           0
Code                             0
year                             0
Day                              0
Average surface temperature      0
Average surface temperature.1    0
dtype: int64

### Summary Statistics

In [ ]:
# Summary statistics for Dataset 1
print("Summary statistics for Dataset 1:")
print(df1.describe())

# Summary statistics for Dataset 2
print("\nSummary statistics for Dataset 2:")
print(df2.describe())

Summary statistics for Dataset 1:
       ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
count                                                 227
unique                                                227
top     1,"Afghanistan, Islamic Rep. of",Degree Celsiu...
freq                                                    1

Summary statistics for Dataset 2:
                year  Average surface temperature  \
count  199290.000000                199290.000000
mean     1982.084149                    18.066105
std        24.585286                    10.251394
min      1940.000000                   -36.240032
25%      1961.000000                    12.287746
50%      1982.000000                    22.053738
75%      2003.000000                    25.317117
max      2025.000000                    39.889374

       Average surface temperature.1
count                  199290.000000
mean                       18.075053
std                         8.710005
min                       -21.529121
25%                        10.572247
50%                        21.858255
75%                        25.143888
max                        29.794220

### Visualizing the Data

In [ ]:
print(df1.columns)

Index(['ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021'], dtype='object')

In [ ]:
df1.columns = df1.columns.str.strip()

In [ ]:
print([col for col in df1.columns if 'change' in col.lower()])

['ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021']

In [ ]:
print(df1.head())

  ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0  1,"Afghanistan, Islamic Rep. of",Degree Celsiu...
1  2,Albania,Degree Celsius,Surface Temperature C...
2  3,Algeria,Degree Celsius,Surface Temperature C...
3  4,American Samoa,Degree Celsius,Surface Temper...
4  5,"Andorra, Principality of",Degree Celsius,Su...

In [ ]:
df1.rename(columns={'Temperature Change': 'Change'}, inplace=True)

In [ ]:
df1 = pd.read_csv(file_path1, sep=';', encoding='latin1')

In [ ]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Clean column names (remove spaces and standardize)
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()

# Check if the 'Change' column exists in df1
print("\nAvailable columns in Dataset 1:", df1.columns)
print("\nColumns containing 'change':", [col for col in df1.columns if 'change' in col.lower()])

# If 'Change' is found under a different name, rename it
if 'Temperature Change' in df1.columns:
    df1.rename(columns={'Temperature Change': 'Change'}, inplace=True)

# Convert 'Change' column to numeric if found
if 'Change' in df1.columns:
    df1['Change'] = pd.to_numeric(df1['Change'], errors='coerce')

# ---------------------- VISUALIZATION ----------------------

# 3. Line Plot for Temperature Trends Over the Years
years = [col for col in df1.columns if col.isdigit()]  # Check for year columns
if years:
    temperature_trends = df1[years].mean(axis=0)
    plt.figure(figsize=(20, 8))
    sns.lineplot(x=years, y=temperature_trends)
    plt.title('Average Global Temperature Trends Over Years')
    plt.xlabel('Year')
    plt.ylabel('Average Temperature (°C)')
    plt.xticks(rotation=45)
    plt.show()

Available columns in Dataset 1: Index(['ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021'], dtype='object')

Columns containing 'change': ['ï»¿ObjectId,Country Name,Unit,Change ,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021']

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.arima.model import ARIMA
from fbprophet import Prophet
from sklearn.model_selection import train_test_split

# Load dataset
file_path = r"C:\Users\chris.mutuku\OneDrive - Skanem AS\Desktop\CAPSTONE PROJECT\Capstone-Project---Group-8\Data\Climate Change - datasets\Average Surface Temperature.csv"
df = pd.read_csv(file_path)

# Convert 'Year' to datetime format
df['Year'] = pd.to_datetime(df['Year'], format='%Y')
df.set_index('Year', inplace=True)

# Check missing values
df = df.dropna()

# Splitting data into train and test sets (80-20 split)
train, test = train_test_split(df, test_size=0.2, shuffle=False)

### ARIMA MODEL ###
# Define ARIMA model
arima_model = ARIMA(train['Avg_Temperature'], order=(2, 1, 2))
arima_fit = arima_model.fit()

# Forecast for test period
arima_forecast = arima_fit.forecast(steps=len(test))

# Future Forecast (Next 10 years)
future_years = pd.date_range(start=df.index[-1], periods=11, freq='Y')[1:]
arima_future_forecast = arima_fit.forecast(steps=10)

# Plot ARIMA Results
plt.figure(figsize=(12, 6))
plt.plot(df.index, df['Avg_Temperature'], label='Actual Temperature')
plt.plot(test.index, arima_forecast, label='ARIMA Forecast', color='red')
plt.plot(future_years, arima_future_forecast, label='Future Prediction', linestyle='dashed', color='blue')
plt.legend()
plt.title('Temperature Forecast using ARIMA')
plt.xlabel('Year')
plt.ylabel('Average Temperature (°C)')
plt.show()

### PROPHET MODEL ###
df_prophet = df.reset_index().rename(columns={'Year': 'ds', 'Avg_Temperature': 'y'})

# Train Prophet Model
prophet = Prophet()
prophet.fit(df_prophet)

# Create Future Dataframe
future = prophet.make_future_dataframe(periods=10, freq='Y')
forecast = prophet.predict(future)

# Plot Prophet Forecast
prophet.plot(forecast)
plt.title("Temperature Forecast using Prophet")
plt.show()

ModuleNotFoundError: No module named 'fbprophet'